:root {
  --page-color: #c0d7d7;
  --accent-color: #548080;
  --inactive-tab-color: #87a0a0;
  --nav-bar-color: #4c5769;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.general-container {
  background-color: var(--page-color) !important;
  max-height: 200vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link.active {
  color: white !important;
  background-color: var(--accent-color) !important;
}

.nav-link:hover {
  background-color: var(--accent-color) !important;
  color: white !important;
  border-radius: 15px;
}

.inactive-tab {
  background-color: var(--inactive-tab-color) !important;
}

.nav-link {
  color: white !important;
  font-size: larger;
  border-radius: 15px;
}

.submit-button {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.submit-button:hover {
  background-color: #416464 !important;
}

.dropdown-game-status {
  background: 0 !important;
  border: 0 !important;
  color: black !important;
}

.review-field:focus{
  box-shadow: 0 0 0 0.25rem #bed7ce !important;
}

.nav-bar {
  background-color: var(--nav-bar-color) !important;
}

.account-dropdown {
  align-items: flex-start !important;
  justify-content: flex-end !important;
}

.account-dropdown-option {
  font-size: 10px !important;
}

h1, form, strong {
  color: var(--accent-color) !important;
}

h5, h3, small {
  color: var(--nav-bar-color) !important;
}

.list-item {
  color: var(--accent-color) !important;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.pop-up {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  background-color: white;
  border: 2px solid var(--nav-bar-color);
  padding: 10px;
}

.scrollable-list {
  max-height: 600px;
  overflow-y: scroll;
  padding-right: 10px;
  max-width: 1008px;
  margin-bottom: 10px;
}

.scrollable-list-horizontal {
  max-height: 600px;
  overflow-x: scroll;
  padding-right: 10px;
  max-width: 1008px;
  margin-bottom: 10px;
  white-space: nowrap;
}
