:root {
  --page-color: #c0d7d7;
  --accent-color: #548080;
  --inactive-tab-color: #87a0a0;
  --nav-bar-color: #4c5769;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.general-container {
  background-color: var(--page-color) !important;
  max-height: 200vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link.active {
  color: white !important;
  background-color: var(--accent-color) !important;
}

.nav-link:hover {
  background-color: var(--accent-color) !important;
  color: white !important;
  border-radius: 15px;
}

.inactive-tab {
  background-color: var(--inactive-tab-color) !important;
}

.nav-link {
  color: white !important;
  font-size: larger;
  border-radius: 15px;
}

.submit-button {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.submit-button:hover {
  background-color: #416464 !important;
}

.dropdown-menu-scroll {
  height: 100px;
  overflow-y: scroll;
}

.dropdown-game-status {
  background: 0 !important;
  border: 0 !important;
  color: black !important;
}

.review-field:focus{
  box-shadow: 0 0 0 0.25rem #bed7ce !important;
}

.nav-bar {
  background-color: var(--nav-bar-color) !important;
}

h1, form, strong {
  color: var(--accent-color) !important;
}

h5, small {
  color: var(--nav-bar-color) !important;
}

.list-item {
  color: var(--accent-color) !important;
}
